<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="country.name"
            name="name"
          />
        </div>
  
        <button (click)="saveCountry()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Country was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newCountry()">Add</button>
      </div>
    </div>
  </div>