<div>
    <div *ngIf="currentCountry.id" class="edit-form">
      <h4>Country</h4>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentCountry.name"
            name="name"
          />
        </div>
      </form>

  
      <button class="btn btn-danger mr-2" (click)="deleteCountry()">
        Delete
      </button>
  
      <button
        type="submit"
        class="btn btn-success"
        (click)="updateCountry()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentCountry.id">
      <br />
      <p>Cannot access this Country...</p>
    </div>
  </div>